.button {
  color: white;
  background-color: white;
  & svg {
    fill: white;
    margin-left: var(--lp-space-xxxs);
  };
  &:focus {
    outline:none;
  }
  &:active {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: black;
      border-radius: var(--lp-radii-sm);
    }
  }
  &.large {
    height: var(--lp-space-xxl);
    font-size: var(--lp-font-size-button-lg);
    font-weight: var(--lp-font-weight-button-lg);
    line-height: var(--lp-line-height-button-lg);
    letter-spacing: var(--lp-letter-spacing-button-lg);
    padding: 0 var(--lp-space-md);
  }
  &.medium {
    height: var(--lp-space-lg);
    font-size: var(--lp-font-size-button-md);
    font-weight: var(--lp-font-weight-button-md);
    line-height: var(--lp-line-height-button-md);
    letter-spacing: var(--lp-letter-spacing-button-md);
    padding: 0 var(--lp-space-xs);
    min-width: 160px;
  }
  &.small {
    height: var(--lp-space-md);
    font-size: var(--lp-font-size-button-sm);
    font-weight: var(--lp-font-weight-button-sm);
    line-height: var(--lp-line-height-button-sm);
    letter-spacing: var(--lp-letter-spacing-button-sm);
    padding: 0 var(--lp-space-xs);
    min-width: 96px;
  }
  &[data-variant="primary"] {
    background: rgba(var(--lp-colors-primary), 1);
    &:hover, &:active {
      background: rgba(var(--lp-colors-primary), 0.8);
    }
  }
  &[data-variant="reversed"] {
    background: rgba(var(--lp-colors-neutral-50), 1);
    color: rgba(var(--lp-colors-primary), 1);
    & svg {
      fill: rgba(var(--lp-colors-primary), 1);
    }
    &:hover {
      background: white;
    }
    &:active {
      background: rgba(var(--lp-colors-neutral-100), 1);
    }
  }
  &[data-variant="destructive"] {
    background: rgba(var(--lp-colors-persimmon-600), 1);
    color: rgba(var(--lp-colors-neutral-900), 1);
    & svg {
      fill: rgba(var(--lp-colors-neutral-900), 1);
    }
    &:hover {
      background: rgba(var(--lp-colors-persimmon-500), 1);
    }
    &:active {
      background: rgba(var(--lp-colors-persimmon-700), 1);
    }
  }
  &[data-variant="ghost"] {
    background: none;
    color: rgba(var(--lp-colors-primary), 1);
    & svg {
      fill: rgba(var(--lp-colors-primary), 1);
    }
    &:hover, &:active {
      color: rgba(var(--lp-colors-primary), 0.8);
      & svg {
        margin-left: var(--lp-space-xxs);
      }
    }
    &:active {
      &::before {
        background: none;
      }
    }
  }
  &:disabled {
    background: rgba(var(--lp-colors-neutral-50), 1);
    color: rgba(var(--lp-colors-neutral-400), 1);
    & svg {
      fill: rgba(var(--lp-colors-neutral-400), 1);
    };
  }
  &.focus-ring {
    box-shadow: 0 0 0 2px white, 0 0 0 6px dodgerblue;
  }
}
