.button {
  min-width: 200px;
  outline: none;

  &[data-variant="primary"] {
    background: aqua;
    color: purple;
  }
  &[data-variant="secondary"] {
    background: green;
    color: purple;
  }
  &[data-variant="strong"] {
    background: yellow;
    color: purple;
  }
  &[data-variant="default"] {
    background: lightpink;
    color: purple;
  }
  &[data-variant="weak"] {
    background: darkkhaki;
    color: purple;
  }
  &:disabled {
    background: lightgray;
  }
  &.focus-ring {
    outline: 2px solid dodgerblue;
    outline-offset: 2px;
  }
}
