@import "../scss/tokens";

.test {
  width: 400px;
  --flow-space: 3rem;
  &[data-variant="primary"] {
    color: red;
  }
  // We want this background colour to be configurable by the user - so it's specificity takes precedence over the utility class `background-` but is overriden by adding `--colors-primary` to the application root
  background-color: rgba(var(--colors-primary), 0.5);
}
