// Composition utility styles

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.splitter {
  > :last-child {
    margin-top: var(--space-xs);
  }

  @media (min-width: 48em) {
    display: flex;

    > * {
      flex-grow: 1;
    }

    > :last-child {
      margin-top: 0;
      margin-left: var(--space-xs);
      min-width: 22rem;
    }
  }
}

.wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-xs);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// Container queries utility styles

.flexContainer {
  --flex-min: 35rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -0.5rem;

  > * {
    flex-grow: 1;
    flex-basis: calc((var(--flex-min) - 100%) * 999);
    margin: 0.5rem;

    &.flex--auto {
      flex: 0 1 auto;
    }
  }
}