
@import "tokens";

$padding-map: (
    "none": (
        0,
    ),
    "unset": (
        unset,
    ),
    "tiny": (
        var(--lp-space-tiny),
    ),
    "xxxs": (
        var(--lp-space-xxxs),
    ),
    "xxs": (
        var(--lp-space-xxs),
    ),
    "xs": (
        var(--lp-space-xs),
    ),
    "sm": (
        var(--lp-space-sm),
    ),
    "md": (
        var(--lp-space-md),
    ),
    "lg": (
        var(--lp-space-lg),
    ),
    "xl": (
        var(--lp-space-xl),
    ),
    "xxl": (
        var(--lp-space-xxl),
    ),
    "xxxl": (
        var(--lp-space-xxxl),
    ),
    "jumbo": (
        var(--lp-space-jumbo),
    ),
    "massive": (
        var(--lp-space-massive),
    ),
);

$margin-map: (
    "none": (
        0,
    ),
    "unset": (
        unset,
    ),
    "auto": (
        auto,
    ),
    "tiny": (
        var(--lp-space-tiny),
    ),
    "xxxs": (
        var(--lp-space-xxxs),
    ),
    "xxs": (
        var(--lp-space-xxs),
    ),
    "xs": (
        var(--lp-space-xs),
    ),
    "sm": (
        var(--lp-space-sm),
    ),
    "md": (
        var(--lp-space-md),
    ),
    "lg": (
        var(--lp-space-lg),
    ),
    "xl": (
        var(--lp-space-xl),
    ),
    "xxl": (
        var(--lp-space-xxl),
    ),
    "xxxl": (
        var(--lp-space-xxxl),
    ),
    "jumbo": (
        var(--lp-space-jumbo),
    ),
    "massive": (
        var(--lp-space-massive),
    ),
    "-tiny": (
        calc(-1 * var(--lp-space-tiny)),
    ),
    "-xxxs": (
        calc(-1 * var(--lp-space-xxxs)),
    ),
    "-xxs": (
        calc(-1 * var(--lp-space-xxs)),
    ),
    "-xs": (
        calc(-1 * var(--lp-space-xs)),
    ),
    "-sm": (
        calc(-1 * var(--lp-space-sm)),
    ),
    "-md": (
        calc(-1 * var(--lp-space-md)),
    ),
    "-lg": (
        calc(-1 * var(--lp-space-lg)),
    ),
    "-xl": (
        calc(-1 * var(--lp-space-xl)),
    ),
    "-xxl": (
        calc(-1 * var(--lp-space-xxl)),
    ),
    "-xxxl": (
        calc(-1 * var(--lp-space-xxxl)),
    ),
    "-jumbo": (
        calc(-1 * var(--lp-space-jumbo)),
    ),
    "-massive": (
        calc(-1 * var(--lp-space-massive)),
    ),
);

$position-map: (
    "0": (
        0,
    ),
    "auto": (
        auto,
    ),
    "tiny": (
        var(--lp-space-tiny),
    ),
    "xxxs": (
        var(--lp-space-xxxs),
    ),
    "xxs": (
        var(--lp-space-xxs),
    ),
    "xs": (
        var(--lp-space-xs),
    ),
    "sm": (
        var(--lp-space-sm),
    ),
    "md": (
        var(--lp-space-md),
    ),
    "lg": (
        var(--lp-space-lg),
    ),
    "xl": (
        var(--lp-space-xl),
    ),
    "xxl": (
        var(--lp-space-xxl),
    ),
    "xxxl": (
        var(--lp-space-xxxl),
    ),
    "jumbo": (
        var(--lp-space-jumbo),
    ),
    "massive": (
        var(--lp-space-massive),
    ),
    "1\\/2": (
        50%,
    ),
    "1\\/3": (
        33.333333%,
    ),
    "2\\/3": (
        66.666667%,
    ),
    "1\\/4": (
        25%,
    ),
    "2\\/4": (
        50%,
    ),
    "3\\/4": (
        75%,
    ),
    "full": (
        100%,
    ),
    "-tiny": (
        calc(-1 * var(--lp-space-tiny)),
    ),
    "-xxxs": (
        calc(-1 * var(--lp-space-xxxs)),
    ),
    "-xxs": (
        calc(-1 * var(--lp-space-xxs)),
    ),
    "-xs": (
        calc(-1 * var(--lp-space-xs)),
    ),
    "-sm": (
        calc(-1 * var(--lp-space-sm)),
    ),
    "-md": (
        calc(-1 * var(--lp-space-md)),
    ),
    "-lg": (
        calc(-1 * var(--lp-space-lg)),
    ),
    "-xl": (
        calc(-1 * var(--lp-space-xl)),
    ),
    "-xxl": (
        calc(-1 * var(--lp-space-xxl)),
    ),
    "-xxxl": (
        calc(-1 * var(--lp-space-xxxl)),
    ),
    "-jumbo": (
        calc(-1 * var(--lp-space-jumbo)),
    ),
    "-massive": (
        calc(-1 * var(--lp-space-massive)),
    ),
    "-1\\/2": (
        -50%,
    ),
    "-1\\/3": (
        -33.333333%,
    ),
    "-2\\/3": (
        -66.666667%,
    ),
    "-1\\/4": (
        -25%,
    ),
    "-2\\/4": (
        -50%,
    ),
    "-3\\/4": (
        -75%,
    ),
);

$colors-map: (
    primary: rgba(var(--lp-colors-primary), 1),
    transparent: transparent,
    current: currentColor,
    success: (
        50: rgba(var(--lp-colors-success-50), 1),
        100: rgba(var(--lp-colors-success-100), 1),
        200: rgba(var(--lp-colors-success-200), 1),
        300: rgba(var(--lp-colors-success-300), 1),
        400: rgba(var(--lp-colors-success-400), 1),
        500: rgba(var(--lp-colors-success-500), 1),
        600: rgba(var(--lp-colors-success-600), 1),
        700: rgba(var(--lp-colors-success-700), 1),
        800: rgba(var(--lp-colors-success-800), 1),
        900: rgba(var(--lp-colors-success-900), 1),
    ),
    error: (
        50: rgba(var(--lp-colors-error-50), 1),
        100: rgba(var(--lp-colors-error-100), 1),
        200: rgba(var(--lp-colors-error-200), 1),
        300: rgba(var(--lp-colors-error-300), 1),
        400: rgba(var(--lp-colors-error-400), 1),
        500: rgba(var(--lp-colors-error-500), 1),
        600: rgba(var(--lp-colors-error-600), 1),
        700: rgba(var(--lp-colors-error-700), 1),
        800: rgba(var(--lp-colors-error-800), 1),
        900: rgba(var(--lp-colors-error-900), 1),
    ),
    neutral: (
        50: rgba(var(--lp-colors-neutral-50), 1),
        100: rgba(var(--lp-colors-neutral-100), 1),
        200: rgba(var(--lp-colors-neutral-200), 1),
        300: rgba(var(--lp-colors-neutral-300), 1),
        400: rgba(var(--lp-colors-neutral-400), 1),
        500: rgba(var(--lp-colors-neutral-500), 1),
        600: rgba(var(--lp-colors-neutral-600), 1),
        700: rgba(var(--lp-colors-neutral-700), 1),
        800: rgba(var(--lp-colors-neutral-800), 1),
        900: rgba(var(--lp-colors-neutral-900), 1),
        white: rgba(var(--lp-colors-neutral-white), 1),
    ),
    indigo: (
        50: rgba(var(--lp-colors-indigo-50), 1),
        100: rgba(var(--lp-colors-indigo-100), 1),
        200: rgba(var(--lp-colors-indigo-200), 1),
        300: rgba(var(--lp-colors-indigo-300), 1),
        400: rgba(var(--lp-colors-indigo-400), 1),
        500: rgba(var(--lp-colors-indigo-500), 1),
        600: rgba(var(--lp-colors-indigo-600), 1),
        700: rgba(var(--lp-colors-indigo-700), 1),
        800: rgba(var(--lp-colors-indigo-800), 1),
        900: rgba(var(--lp-colors-indigo-900), 1),
    ),
    persimmon: (
        50: rgba(var(--lp-colors-persimmon-50), 1),
        100: rgba(var(--lp-colors-persimmon-100), 1),
        200: rgba(var(--lp-colors-persimmon-200), 1),
        300: rgba(var(--lp-colors-persimmon-300), 1),
        400: rgba(var(--lp-colors-persimmon-400), 1),
        500: rgba(var(--lp-colors-persimmon-500), 1),
        600: rgba(var(--lp-colors-persimmon-600), 1),
        700: rgba(var(--lp-colors-persimmon-700), 1),
        800: rgba(var(--lp-colors-persimmon-800), 1),
        900: rgba(var(--lp-colors-persimmon-900), 1),
    ),
    cherry-blossom: (
        50: rgba(var(--lp-colors-cherry-blossom-50), 1),
        100: rgba(var(--lp-colors-cherry-blossom-100), 1),
        200: rgba(var(--lp-colors-cherry-blossom-200), 1),
        300: rgba(var(--lp-colors-cherry-blossom-300), 1),
        400: rgba(var(--lp-colors-cherry-blossom-400), 1),
        500: rgba(var(--lp-colors-cherry-blossom-500), 1),
        600: rgba(var(--lp-colors-cherry-blossom-600), 1),
        700: rgba(var(--lp-colors-cherry-blossom-700), 1),
        800: rgba(var(--lp-colors-cherry-blossom-800), 1),
        900: rgba(var(--lp-colors-cherry-blossom-900), 1),
    ),
    sky: (
        50: rgba(var(--lp-colors-sky-50), 1),
        100: rgba(var(--lp-colors-sky-100), 1),
        200: rgba(var(--lp-colors-sky-200), 1),
        300: rgba(var(--lp-colors-sky-300), 1),
        400: rgba(var(--lp-colors-sky-400), 1),
        500: rgba(var(--lp-colors-sky-500), 1),
        600: rgba(var(--lp-colors-sky-600), 1),
        700: rgba(var(--lp-colors-sky-700), 1),
        800: rgba(var(--lp-colors-sky-800), 1),
        900: rgba(var(--lp-colors-sky-900), 1),
    ),
    sunrise: (
        50: rgba(var(--lp-colors-sunrise-50), 1),
        100: rgba(var(--lp-colors-sunrise-100), 1),
        200: rgba(var(--lp-colors-sunrise-200), 1),
        300: rgba(var(--lp-colors-sunrise-300), 1),
        400: rgba(var(--lp-colors-sunrise-400), 1),
        500: rgba(var(--lp-colors-sunrise-500), 1),
        600: rgba(var(--lp-colors-sunrise-600), 1),
        700: rgba(var(--lp-colors-sunrise-700), 1),
        800: rgba(var(--lp-colors-sunrise-800), 1),
        900: rgba(var(--lp-colors-sunrise-900), 1),
    ),
    amethyst: (
        50: rgba(var(--lp-colors-amethyst-50), 1),
        100: rgba(var(--lp-colors-amethyst-100), 1),
        200: rgba(var(--lp-colors-amethyst-200), 1),
        300: rgba(var(--lp-colors-amethyst-300), 1),
        400: rgba(var(--lp-colors-amethyst-400), 1),
        500: rgba(var(--lp-colors-amethyst-500), 1),
        600: rgba(var(--lp-colors-amethyst-600), 1),
        700: rgba(var(--lp-colors-amethyst-700), 1),
        800: rgba(var(--lp-colors-amethyst-800), 1),
        900: rgba(var(--lp-colors-amethyst-900), 1),
    ),
    eminence: (
        50: rgba(var(--lp-colors-eminence-50), 1),
        100: rgba(var(--lp-colors-eminence-100), 1),
        200: rgba(var(--lp-colors-eminence-200), 1),
        300: rgba(var(--lp-colors-eminence-300), 1),
        400: rgba(var(--lp-colors-eminence-400), 1),
        500: rgba(var(--lp-colors-eminence-500), 1),
        600: rgba(var(--lp-colors-eminence-600), 1),
        700: rgba(var(--lp-colors-eminence-700), 1),
        800: rgba(var(--lp-colors-eminence-800), 1),
        900: rgba(var(--lp-colors-eminence-900), 1),
    ),
);

$font-sizes-map: (
    heading-jumbo: var(--lp-font-size-heading-jumbo),
    heading-xxxl: var(--lp-font-size-heading-xxxl),
    heading-xxl: var(--lp-font-size-heading-xxl),
    heading-xl: var(--lp-font-size-heading-xl),
    heading-lg: var(--lp-font-size-heading-lg),
    heading-md: var(--lp-font-size-heading-md),
    heading-sm: var(--lp-font-size-heading-sm),
    heading-xs: var(--lp-font-size-heading-xs),
    body-1: var(--lp-font-size-body-1),
    body-2: var(--lp-font-size-body-2),
    body-3: var(--lp-font-size-body-3),
    caption: var(--lp-font-size-caption),
    overline: var(--lp-font-size-overline),
);

$leading-map: (
    heading-jumbo: var(--lp-line-height-heading-jumbo),
    heading-xxxl: var(--lp-line-height-heading-xxxl),
    heading-xxl: var(--lp-line-height-heading-xxl),
    heading-xl: var(--lp-line-height-heading-xl),
    heading-lg: var(--lp-line-height-heading-lg),
    heading-md: var(--lp-line-height-heading-md),
    heading-sm: var(--lp-line-height-heading-sm),
    heading-xs: var(--lp-line-height-heading-xs),
    body-1: var(--lp-line-height-body-1),
    body-2: var(--lp-line-height-body-2),
    body-3: var(--lp-line-height-body-3),
    caption: var(--lp-line-height-caption),
    overline: var(--lp-line-height-overline),
);

$tracking-map: (
    heading-jumbo: var(--lp-letter-spacing-heading-jumbo),
    heading-xxxl: var(--lp-letter-spacing-heading-xxxl),
    heading-xxl: var(--lp-letter-spacing-heading-xxl),
    heading-xl: var(--lp-letter-spacing-heading-xl),
    heading-lg: var(--lp-letter-spacing-heading-lg),
    heading-md: var(--lp-letter-spacing-heading-md),
    heading-sm: var(--lp-letter-spacing-heading-sm),
    heading-xs: var(--lp-letter-spacing-heading-xs),
    body-1: var(--lp-letter-spacing-body-1),
    body-2: var(--lp-letter-spacing-body-2),
    body-3: var(--lp-letter-spacing-body-3),
    caption: var(--lp-letter-spacing-caption),
    overline: var(--lp-letter-spacing-overline),
);

$opacity-map: (
    0: 0,
    5: 0.05,
    10: 0.1,
    20: 0.2,
    25: 0.25,
    30: 0.3,
    40: 0.4,
    50: 0.5,
    60: 0.6,
    70: 0.7,
    75: 0.75,
    80: 0.8,
    90: 0.9,
    95: 0.95,
    100: 1,
);

$z-index-map: (
    0: var(--lp-z-indices-0),
    100: var(--lp-z-indices-100),
    200: var(--lp-z-indices-200),
    300: var(--lp-z-indices-300),
    400: var(--lp-z-indices-400),
    500: var(--lp-z-indices-500),
    top: var(--lp-z-indices-top),
    bottom: var(--lp-z-indices-bottom),
    auto: var(--lp-z-indices-auto),
);

$borders-map: (
    none: var(--lp-border-widths-none),
    thin: var(--lp-border-widths-thin),
    thick: var(--lp-border-widths-thick),
);

$radii-map: (
    none: var(--lp-radii-none),
    xs: var(--lp-radii-xs),
    sm: var(--lp-radii-sm),
    md: var(--lp-radii-md),
    lg: var(--lp-radii-lg),
    xl: var(--lp-radii-xl),
    full: 9999,
);

$width-map: (
    xl: var(--lp-sizes-xl),
    lg: var(--lp-sizes-lg),
    md: var(--lp-sizes-md),
    sm: var(--lp-sizes-sm),
    xs: var(--lp-sizes-xs),
);

$shadow-map: (
    high: var(--lp-shadows-high),
    medium: var(--lp-shadows-medium),
    low: var(--lp-shadows-low),
    close: var(--lp-shadows-close),
    none: var(--lp-shadows-none),
    shallow: var(--lp-shadows-shallow),
    deep: var(--lp-shadows-deep),
);

$ring-map: (
    0: 0px,
    2: 2px,
    4: 4px,
    8: 8px,
    16: 16px,
);

$scale-map: (
    0: 0,
    50: 0.5,
    75: 0.75,
    90: 0.9,
    95: 0.95,
    100: 1,
    105: 1.05,
    110: 1.1,
    125: 1.25,
    150: 1.5,
);

$rotate-map: (
    0: 0deg,
    1: 1deg,
    2: 2deg,
    3: 3deg,
    6: 6deg,
    12: 12deg,
    45: 45deg,
    90: 90deg,
    180: 180deg,
    "-1": -1deg,
    "-2": -2deg,
    "-3": -3deg,
    "-6": -6deg,
    "-12": -12deg,
    "-45": -45deg,
    "-90": -90deg,
    "-180": -180deg,
);